html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

* { @include box-sizing(border-box); }

::-moz-selection { background: lighten($first, 10%); color: $white; text-shadow: none; }
::selection { background: lighten($first, 10%); color: $white; text-shadow: none; }

html {
	width: 100%;
	height: 100%;

	background: $white;

	font: $font-size $proxima-nova;
	line-height: 1.5em;
	color: $black;
	text-align: left;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
	width: 100%;
	height: 100%;
	margin: 0; 
	
	padding: 0;
	
	overflow-x: hidden;	
}

h1, h2, h3 { 
	font-family: $lovelo-black;
	margin: 0;
	margin-bottom: $vertical-margin * 0.625;
	padding: 0;

	font-weight: 300;
	letter-spacing: 0.1em;
}
h1 { 
 	@include font-size($font-large,1);

	@include breakpoint(medium) {
		@include font-size($font-monster,1); 
	}
	a { 
		&:hover { 
			text-decoration: none;  
		}
	}
}
h2 { 
	@include font-size($font-large, 1.25);
	margin-bottom: $vertical-margin * 0.5;
}
h3 { 
	@include font-size($font-medium, 1);
	margin-bottom: $vertical-margin * 0.5;

	@include breakpoint(medium) {
		@include font-size($font-large, 1);
	}	
}

img, 
a img, 
.image { 
	max-width: 100%;
	height: auto;
	
	border: none; 
}

p { 
	margin-top: 0;
	margin-bottom: $vertical-margin;
}
small { 
	font-size: 0.75em; 
}

strong,
b { 
	color: $black;
	font-weight: 600; 
}
em,
i {
	font-style: italic;
}

a {
	color: $first; 
	text-decoration: none;
	
	&:hover { 
		color: $fourth; 
		text-decoration: none;
	}

	@include transition-property(all);
	@include transition-duration(0.15s);
	@include transition-timing-function(linear);
	@include transition-delay(0);
}

ul, 
ul li, 
li,
dl, dt, dd { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}	

blockquote { 
	margin: 15px 0 15px 27px; 
	padding-left: 10px; 
	border-left: 5px solid #666; 
	p {
		font-family: $georgia;
		font-size: 18px; 
		font-style: italic; 
	}
}

*:focus { outline: none; }
*::-moz-focus-inner { border: none; }
iframe { max-width: 100%; }
		
/* WordPress classes */
.alignleft { float: left; }
.alignright { float: right; }
img.alignleft { float: left; margin: 0; }
img.alignright { float: right; margin: 0; }
img.aligncenter { display: block; margin: 0 auto; }

@include breakpoint(medium) {
	.textalign-right { text-align: right; }
	.textalign-left { text-align: left; }
}