/* Base */
@import "compass/css3";
@import "mixins";

/* Theme */
@import "theme/colors";
@import "theme/type";
@import "theme/variables";
@import "grid";

@import "base";

@import "module/highlight";
@import "module/button";
@import "module/more-link";
@import "module/lead";

#tinymce {
	background: $white !important;

	padding: 0.5em;

	font-size: 0.9em;
	text-align: left !important; 

	p { max-width: 30em; }
}