.l-centered {
	width: 100%;
	margin: auto;
	position: absolute;
	top: 50%; 
	left: 50%;

	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}