.article {
	width: 100%;
	overflow: hidden;
	position: relative;
	clear: both;	

	background-color: $white;

	text-align: left;

	h1 {
		text-align: left;
	}

	ul {
		li {
			list-style: square outside;
			margin-left: 1em;
		}
	}
	ol {
		li {
			list-style: decimal;
			margin-left: 1em;
		}
	}

	@media screen and ( min-width: 768px ) {
		p,
		ul,
		ol {
			max-width: $max-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}