.article-news {
	float: none;
	display: block;
	max-width: $max-width;
	margin: 0 auto $vertical-margin;

	background-size: cover;
	background-position: center;


	header {
	}

	h1 {
		margin: 0 0.5em $vertical-margin * 0.125;

		@include font-size($font-huge,1.3);
		text-align: left;
	}

	.postmetadata {
		margin: 0 1em $vertical-margin * 0.25;

		// text-align: center;
	}

	.image {
		margin-bottom: $vertical-margin * 0.5;
		@media screen and (min-width: 768px) {
			@include grid(25.5,0,3);
		}
	}

	.excerpt {
		margin: 0 1em 0;
	}

	@media screen and ( min-width: 768px ) {
		margin: 0 auto $vertical-margin * 2;
	}
}