.box-video {
	position: relative;
	margin: 0 auto;
	margin-bottom: $vertical-margin;
	height: 0;
	clear: both;

	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	
	z-index: 1;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}