.button-callout,
a.button-callout,
a.button-callout:visited {
	background-color: $second;

	&:hover {
//		cursor: pointer;

//		color: $white;
//	    @include box-shadow(0px 3px 5px rgba($black,0.25) );
	}
	&:active,
	&:focus {
//		color: $white;
//		background-color: darken($second,5%);
//	    @include box-shadow(0 1px 7px rgba(darken($second,33%),0.75) inset);
	}
}