.button-googleplus {
	&:hover {
		background-color: $googleplus;
	}
	&:active,
	&:focus {
		background-color: darken($googleplus, 5%);
		border: 1px darken($googleplus,33.333%) solid;
	    @include box-shadow(0 2px 5px rgba(darken($googleplus,25%),1) inset);

	}
}