.button-soft, 
a.button-soft,
a.button-soft:visited {
	background-color: transparent;
	border: none;

	font-weight: 300;

	color: $grey;
	&:hover {
		background-color: rgba($grey,0.1);
		border: none;
		color: $first;

	    @include box-shadow(0px 1px 1px rgba($grey,0.5) );
	}
	&:active,
	&:focus {
		background-color: rgba($grey,0.15);
		border: none;

		color: $first;

	    @include box-shadow(0 1px 5px rgba($grey,0.75) inset);		
	}
}