.button-play {
	position: absolute;
	top: 1.5em;
	margin: 0 auto;
	z-index: 99;

	padding: 0.666em;
	@include border-radius(50%);

	text-align: center;
	@include font-size($font-god,1);

	.ss-standard {
		top: 0.1em;
	}
}