.button-linkedin {
	&:hover {
		background-color: $linkedin;
	}
	&:active,
	&:focus {
		background-color: darken($linkedin, 5%);
		border: 1px darken($linkedin,33.333%) solid;
	    @include box-shadow(0 2px 5px rgba(darken($linkedin,25%),1) inset);		
	}
}