a.button-feature,
.button-feature {
	background-color: transparent;

	color: $white;

	&:hover {
		cursor: pointer;

		color: $white;
		background-color: $second;
		border: 1px $black solid;
	    @include box-shadow(0px 3px 5px rgba($black,0.5) );
	}
	&:active,
	&:focus {
		color: $white;
		background-color: darken($second,5%);
		border: 1px $black solid;
	    @include box-shadow(0 1px 7px rgba(darken($second,50%),0.95) inset);
	}

}