.button-twitter {
	&:hover {
		background-color: $twitter;
	}
	&:active,
	&:focus {
		background-color: darken($twitter, 5%);
		border: 1px darken($twitter,33.333%) solid;
	    @include box-shadow(0 2px 5px rgba(darken($twitter,25%),1) inset);	
	}
}