.button,
input[type="submit"],
button {
	display: inline;
	display: inline-block;
	position: relative;
	margin-bottom: $vertical-margin;

	//background-color: lighten($first, 10%);
	background-color: transparent;
	padding: 0.666em 1em;
	border: 1px $black solid;
	// @include border-radius($border-radius);

	@include transition-property(all);
	@include transition-duration(0.15s);
	@include transition-timing-function(linear);
	@include transition-delay(0);
	
	font-family: $lovelo-black;	
	@include font-size($font-normal);
	font-weight: 600;
	color: $grey;

	&:hover,
	&:focus {
		cursor: pointer;

		color: $black;
		// background-color: $second;
	}
	&:active {
		color: $black;
		// background-color: darken($second, 12.5%);

		@include transition-duration(0.05s);
	}

}