.column {
	@include grid(48,2);

	// MEDIA QUERIES
	@media screen and ( min-width: 768px ) {
		@include grid(36,0.5);
	}
	@media screen and ( min-width: 1024px ) {
		@include grid(24,0.5);
	}
	@media screen and ( min-width: 1280px ) {
		@include grid(24,0.5);
	}
} 