.container-nav {
	position: relative;
	display: none;
	top: 0;
	width: 100%;
	// margin-top: $vertical-margin;
	z-index: 10000;

	&.is-stuck {
		margin-top: 0;

		background: rgba($first,0.9);
		@include box-shadow(rgba($black,0.1666) 0 0.1666em 0);
	}

	@media screen and ( min-width: 768px ) {
		display: block;
	}
}

.logged-in .l-sticky_wrapper,
.logged-in .container-nav {
	margin-top: 28px !important;
}