.customer {
	display: block;
	position: relative;
	margin-bottom: $vertical-margin;
	height: 5em;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
	z-index: 1;
}