.entry {
	margin: 0 1em $vertical-margin;

	p { 
		margin-bottom: $vertical-margin;
	}	

	ul {
		margin-bottom: $vertical-margin;
		margin-left: 2em;
		li {
			list-style-type: square; 
		}
	}
	
	@media screen and (min-width: 768px) {
		max-width: $max-width;
		margin: 0 auto $vertical-margin;
	}
	@media screen and (min-width: 1280px ) {
		p,
		ul,
		ol {
			//@include grid(48,10.666);
		}
	} 
}

.block .entry {
	margin-left: 0;
	margin-right: 0;
}