.externals {
	background: $fourth;

	color: $second;

	h2,
	p {
		text-align: left;

	@include breakpoint(small) {
			text-align: center;
		}
	}

	.lined span:before,
	.lined span:after {
		border-color: $second;
	}
}