.feature {
	position: relative;
	// overflow: hidden;

	.text {
		text-align: left;
	}

	a {
		// color: $white;
		text-decoration: none;

		// &:hover { color: $white; }
	}

	&.l-fullwidth,
	&.l-fullwidth .text {
		text-align: center;
	}

	@include breakpoint(medium) {
		margin-bottom: $vertical-margin * 2	;

		&:last-child {
			margin-bottom: 0;
		}

		.text {
			@include font-size($font-medium,1.5);
		}

		.container-button {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			vertical-align: bottom;
		}
	}
}