/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
// @font-face {
// 	font-family: 'flexslider-icon';
// 	src:url('fonts/flexslider-icon.eot');
// 	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/flexslider-icon.woff') format('woff'),
// 		url('fonts/flexslider-icon.ttf') format('truetype'),
// 		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { 
	position: relative; 	
	zoom: 1; 

	// padding-top: $vertical-margin*2;
	background: transparent; 
	border: none; 
}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { 
	display: none; 
	position: absolute; 
	width: 3.6em; 
	height: 3.6em; 
	margin: -1.8em 0 0;
	top: 50%; 
	z-index: 10; 
	overflow: hidden; 
	opacity: 0; 

	cursor: pointer; 
	color: $white; 

	@include breakpoint(medium) {
		display: block;
	}

	// text-shadow: 1px 1px 0 rgba(255,255,255,0.3); 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
		transition: all .3s ease; 
}
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { 
	opacity: 0!important; 
	filter:alpha(opacity=0); 
	cursor: default; 
}
.flex-direction-nav a:before  { 
	display: inline-block; 
	content: '\25C5';

	font-family: $ss-standard; 
	@include font-size($font-large); 
}
.flex-direction-nav a.flex-next:before  { content: '\25BB'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: $ss-standard; font-size: 20px; display: inline-block; content: '\25B6'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\E8A0'; }

/* Control Nav */
.flex-control-nav {
	width: 100%;
	height: 1em;
	position: absolute; 
	z-index: 99;
	bottom: $vertical-margin; 

	text-align: center;

	@include breakpoint(small) {
		bottom: $vertical-margin*2;
	}
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	width: 1em; 
	height: 1em; 
	display: block; 

	background: $white; 
	background: rgba($white,0.5); 

	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	-o-border-radius: 50%; 
	border-radius: 50%; 

	@include box-shadow(0 1px 0.5em rgba($black,0.5));

	cursor: pointer; 
	text-indent: -9999px; 
}
.flex-control-paging li a:hover { background: $white; background: rgba($white,0.7); }
.flex-control-paging li a.flex-active { background: $white; background: rgba($white,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}