.footer-mobile {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	
	background: lighten($black,83%);
	padding: 0.25em;
	@include box-shadow(0px 0px 15px rgba($black,0.333));
	
	@include font-size($font-normal, 1);
	color: $first;
	text-align: center;
	
	.phone {
		display: inline;
		display: inline-block;
		margin: 0.2em auto;

		color: $first;
		font-weight: 600;
		&:hover {
			color: $first;
		}
	}

	@include breakpoint(medium) {
		display: none;
	}
}