.form {
	
	.instructions {
		text-align: center;
		
		ul li {
			list-style-type: decimal;
		}
	}
}

.gform_wrapper { 
	position: relative;

	@include font-size($font-normal);
	
	ol {

		li {
			list-style: none;
			margin: 0;
		}
		@media screen and (max-width: 768px ) {
			margin-left: 0;
		}
	}

	.gfield_label {
		padding: 0.666em 1em 0.666em 0;

		font-weight: 600;
		vertical-align: middle;
	}

	.gform_body input,
	.gform_body textarea {
		padding: 0.666em 1em;
		margin-bottom: $vertical-margin;
		max-width: 100%;
		width: 66.666%;

		color: $white;

		//@include border-radius($border-radius);
		border: 1px solid $white;
		background-color: $second;

		@include font-size($font-normal);

		&:hover {
			color: $white;
			background-color: lighten($fifth,5%);
		}

		&:focus {
			background-color: darken($fifth, 3%);
    	    @include box-shadow(0 0 15px rgba(darken($fifth, 16.666%),1) inset);
		}
	}

	.validation_error {
		display: none;
	}
	.validation_message {
		display: inline-block;
		clear: both;
		margin-top: -$vertical-margin;
		margin-bottom: $vertical-margin;
		
		background-color: $error;
		padding: 0.333em 0.666em;
		@include border-radius($border-radius);
	    // @include box-shadow(0px 1px 1px rgba(darken($first,66%),0.5) );

	    @include font-size($font-small);
		color: $white;
		font-weight: 600;

	}

	@media screen and (min-width: 768px) {
		max-width: $max-width;
		margin-left: auto;
		margin-right: auto;	

		.gform_footer {
			@include grid(48,17,0);
		}

		.gfield_label,
		.ginput_container,
		input,
		textarea {
			display: inline;
		}
		.gfield_label {
			@include grid(16,0,1);	
		}
		.gform_body input,
		.gform_body textarea {
			@include grid(32,1,0);
		}
	}
}

.l-fullwidth .gform_wrapper,
.l-fullwidth .gform_footer {
	width: 100%;
	margin: 0;
	padding: 0;

	label {
		display: none;
	} 

	input {
		display: block;
		width: 100%;
		margin: 0;
		clear: both;

		text-align: center;
	}
}

