.gallery {
	font-family: $proxima-nova;
	line-height: 0 !important;
}

.gallery-item {
	margin-bottom: 0.5 * $vertical-margin !important;

	@media screen and ( min-width: 768px ) {
		margin-bottom: $vertical-margin !important;
	}
}

.gallery-icon {
	img {
		border: none !important;
		border-bottom: 0.25em solid $first !important;
		&:hover {
			border-bottom: 0.25em solid $second !important;
		}
	}
}

.gallery-caption {
	//display: none;
	text-align: center;
	@include font-size($font-small);
	line-height: 1.5em;
	color: $first;
}

.image-featured {
	@include grid(48);

	padding-top: 33%;  /* slope */
	height: 200px;  /* start height */
	
	background: $first;
	background-size: cover;
	-moz-background-size: cover;  /* Firefox 3.6 */
	background-position: center;  /* Internet Explorer 7/8 */
}

// #fancy_overlay {
// 	background-color: $white !important;
// 	opacity: 0.9 !important;
// 	@include opacity(0.9);
// }

// div#fancy_inner {
// 	background-color: $first !important;
// }

// .fancy_bg,
// #fancy_title {
// 	display: none !important;
// }

