.header { 
	width: 100%;
	position: relative;
	overflow: visible;

	// padding: 0 0 $vertical-margin/2;

	text-align: left;

	@include breakpoint(medium) {
		padding: $vertical-margin 0 $vertical-margin;
		
		text-align: center;
	}   
}