.header-article { 
	@include grid(48);
	overflow: visible;
	margin-bottom: 0;
	
	h1 {	
		margin-left: 1em;
		margin-right: 1em;
		
		@include font-size($font-large,1.2);
		color: $first;
		white-space: normal;

		@media screen and ( min-width: 768px ) {
			@include font-size($font-monster,1.2);
		}
		@media screen and ( min-width: 960px ) {
		}
	}
}