a.highlight { 
	display: inline-block; 

	background: $first; 
	padding: 0.1em 0.5em; 
	
	transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	
	color: $white;
	text-align: center;
	cursor: pointer;

	&:hover { 
		background: $second; 
		color: $white;
		text-decoration: none; 
	}
}