.image {
	margin-bottom: $vertical-margin;

    -webkit-transform: translateZ(0);

	img {
		vertical-align: middle;
	}
}

@include breakpoint(medium) {
	.image {
		// margin-bottom: 0;
	}

	.image-left {
		text-align: right;
	}

	.image-right {
		float: right;
		img {
			text-align: left;
		}
	}
}