.image-header {
	display: block; 
	position: relative;
	height: 270px;  /* start height */
	margin-left: auto;
	margin-right: auto;

	padding: 25% 0 0;  /* slope */

	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;  /* Firefox 3.6 */
	background-position: center;  /* Internet Explorer 7/8 */

	line-height: 0;
}