.image-adaptive {
	display: block; 
	position: relative;
	height: 270px;  /* start height */
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	padding-top: 56.25%;  /* slope */

	background-repeat: no-repeat;
	background-size: contain;
	-moz-background-size: contain;  /* Firefox 3.6 */
	background-position: center;  /* Internet Explorer 7/8 */

	line-height: 0;

	@include breakpoint(medium) {
		padding-top: 33.333%;
	}
}