.lead {
	@include grid(48,1);
	
	margin-bottom: $vertical-margin;

	@include font-size($font-medium);
	font-weight: 300;
	color: $grey;

	text-align: center;

	@media screen and (min-width: 1280px ) {
		@include font-size($font-large,1.5);
	}
}