.lined {
    // @media screen and ( min-width:768px ) {
        //overflow: hidden;
        margin-bottom: 0;

        padding: 0.3em 0;
        
        @include font-size($font-small,0.4);
        text-align: center;
        span {
            display: inline-block;
            position: relative;  
        }
        span::before,
        span::after {
            content: "";
            position: absolute;
            height: 1px;
            border-bottom: 1px solid $black;
            top: 0;
            width: $max-width;
        }
        span::before {
            right: 100%;
            margin-right: 15px;
        }
        span::after {
            left: 100%;
            margin-left: 15px;
        }
    // }
}