.logo { 
    display: inline;
	display: inline-block;
    margin-left: 1em;
    margin-bottom: 0;

    padding: 1.35em 0;

	font-family: $lovelo-black;
    @include font-size($font-small,1);
    text-align: left; 
    color: $black;

    @include breakpoint(small) {
        margin: 0 0 0 0.625em;

        padding: 0.4em 0;
        
        @include font-size($font-large,1);
    }

	// Media queries
	@include breakpoint(medium) {
        float: none;
        width: 100%;
		display: inline-block;  
        margin: 0 0 $vertical-margin/4;
	    vertical-align: middle;	

        padding: 0.38em 0 0.3em;

        @include font-size($font-god, 1);
        text-align: center;

        line-height: 0.1em;
        text-align: center;

        span {
            display: inline-block;
            position: relative;  
        }
        span:before,
        span:after {
            content: "";
            position: absolute;
            height: 1px;
            border-bottom: 1px solid $black;
            top: 0;
            width: $max-width;
        }
        span:before {
            right: 100%;
            margin-right: 15px;
        }
        span:after {
            left: 100%;
            margin-left: 15px;
        }
	}

    @include breakpoint(large) {
        overflow: hidden;
        // margin-bottom: 0;

        padding: 0.38em 0 0.3em;
    }

}