.more-link,
a.more-link {
	width: 100%;

	background-color: $first;

	text-align: left;
	font-weight: 600;
	color: $white;
	&:hover {
		//background-color: $second;

		//postcolor: $white;
	}
}

.home,
.archive {
	.article .more-link,
	.article .more-link {
		background-color: $first;
	}
	.article:hover .more-link {
		background-color: $second;

		transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		-o-transition: background-color 0.3s;
		-webkit-transition: background-color 0.3s;
	}
}