.navigation { 
	@include grid(48);
	clear: both;
	margin: $vertical-margin 0 0;
	
	color: $white;
	text-align: center;
	text-transform: lowercase;

	a,
	span.current { 
		float: none;
		display: inline;
		display: inline-block;
		margin: 0;

		background-color: $first;
		padding: 0.333em 0.5em; 
		
		color: $white;
		@include font-size($font-normal,1);

		white-space: nowrap;
	}
	a:hover { 
		background: $second;

		color: $white;
		text-decoration: none;
	}
	span.current {
		background: $second;
		text-decoration: none;
	}
	.prev { 
		//float: left; 
	}
	.dots {
		background-color: transparent;
		color: $grey;
	}
	.next {
		//float: right;
	}

}