.container-nav {
	&.is-stuck {
		background: rgba($first,0.9);
		@include box-shadow(rgba($black,0.1666) 0 0.1666em 0);
	}
}

.nav-main {
	text-align: center;
}

.is-stuck .nav-main {
	padding: 0.5em;
}