.nav-right {
	width: 100%;
	//margin-bottom: $vertical-margin;
}

@include breakpoint(medium) {
	.nav-right {
		position: absolute;
		width: auto;
		top: 0;
		right: 0;
	}

	.is-stuck .nav-right {
		padding: 0.5em;
	}
}