.nav {
	@include font-size($font-small, 1);
	font-weight: 300;
	letter-spacing: 0.125em;
	text-align: center;
	text-transform: uppercase;

	li { 
		display: inline;
		display: inline-block;
		overflow: hidden;
		
		list-style: none;
	} 

	a {
		display: block;	
		padding: 0.333em;
		// @include border-radius(0.25em);

		color: $black;
	}

 	.current-menu-item a,
 	.current_page_parent a,
 	.current-page-ancestor a, 
 	a:hover, 
 	a.is-active { 
	 	//font-weight: 600;
	 	color: $fourth;
 	 	text-decoration: none; 
 	}

}