.nav-mobile {
	display: none;
	@include grid(48);
	width: 100%;
	margin-bottom: $vertical-margin;

	// background: $white;

	font-family: $lovelo-black;
	@include font-size($font-normal);
	text-align: center;

	// @include opacity(0);

	li {		
		display: block;		
		a {
			display: block;

			padding: 0.5em;

			color: $grey;
			text-decoration: none;
			text-transform: uppercase;

			&:hover,
			&:focus {
				// background: lighten($second,5%);

				color: $black;				
			}
			&:active {
				// background: darken($second,12.5%);

				color: darken($black,12.5%);
			}
		}
		li { 
			display: none;
		}
		&.current-menu-item li,
		&.current_page_parent li {
			display: block;
		}
	}
	
	// MEDIA QUERIES
	@include breakpoint(medium) {
		display: none;
	}
}