.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;

	background: rgba($white,0.9);
	z-index: 998;

	@include transition-property(visibility);
	@include transition-duration(5s);
	@include transition-timing-function(linear);
	@include transition-delay(0);

	@media screen and (min-width: 768px ) {
	}
}