.text {
	display: block;
	position: relative;
	clear: both;
	
	vertical-align: middle;
	text-align: left;

	ul,
	ol {
		display: block;

		margin-left: 1.5em;
		margin-bottom: $vertical-margin/2;

		li {
			display: block;
		}
	}
	ul li { list-style: circle; }
	ol li { list-style: decimal; }

	@include breakpoint(large) {
		@include font-size($font-medium,1.5);
	}
}

@include breakpoint(medium) {
	.text-left {
		h2,
		p {
			text-align: right !important;
		}
	}

	.text-right {
		h2,
		p {
			text-align: left;
		}
	}
}