.users {
	margin: 0 auto;
}

.user {
	margin-bottom: $vertical-margin * 1.5;
	position: relative;

	background: lighten($black,82%);
	padding: 2em;

	.image {
		width: 100%;
	}

	.bio {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		clear: both;

		background: rgba(lighten($black,82%),0.85);
		padding: 2em;

		text-align: left;
	}

	@media screen and (min-width: 768px) {
		.image {
			@include grid(24,0,1);
		}

		h3 {
			text-align: left;
		}

		.profile {
			@include grid(24,1,0)
		}
	}
}

.masonry-brick {
	width: 100%;
}

@media screen and (min-width: 768px) {
	.masonry-brick {
		width: 45.83333%%;/*or others percents*/
		margin-left: 2%;
		margin-right: 2%;	
	}
}
