// BLANK
// $first: ;
// $second: ;
// $third: ;
// $fourth: ;
// $fifth: ;

// MATTHIJS v2
// $first: #654d5d; // donkerpaars
// $second: #7d8184; // donkergrijsgroen
// $third: #f2f1ec; // lichtgrijsgroen
// $fourth: #f1e5a3; // lichtgrijs
// $fifth: #ff664a; // geel

// Matthijs B
$first: #F9F9F9; // donkerrood
$second: #888; //lichtrood
$third: #666; // lichtgrijs
$fourth: #CCC; // lichtgeel
$fifth: #333; // groen

// SOCIAL COLORS (as found on http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/)
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$googleplus: #dd4b39;

$white: #FFF; // off-white
$black: #231F24; // off-black
$grey: #666; // dark grey

$error: red; // error color
$confirmation: green; // confirmation color