$lobster: "lobster", Georgia, serif;
$helvetica: Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$proxima-nova: "proxima-nova", Helvetica, Arial, sans-serif;

// LOVELO
@include font-face("lovelo_black", font-files("lovelo_black.woff","lovelo_black.ttf", "lovelo_black.svg"));
$lovelo-black: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;

// @include font-face("lovelo_line_light", font-files("lovelo_line_light.woff","lovelo_line_light.ttf", "lovelo_line_light.svg"));
// $lovelo-line: "lovelo_line_light", Helvetica, Arial, sans-serif;

// INTRO
// @include font-face("intro", font-files("intro.woff","intro.ttf","intro.svg"));
// $intro: "intro", Helvetica, Arial, sans-serif;

// @include font-face("intro_inline", font-files("intro_inline.woff","intro_inline.ttf","intro_inline.svg"));
// $intro-inline: "intro_inline", Helvetica, Arial, sans-serif;

// Import official, unedited Symbolset module first, then load into variable
@import "theme/ss-social-regular";
$ss-social: "SSSocialRegular", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

// Import official, unedited Symbolset module first, then load into variable
@import "theme/ss-standard";
$ss-standard: "SSStandard", "proxima-nova", "Helvetica Neue", Arial, sans-serif;

$font-size: 18px;

$font-tiny: 0.6;
$font-small: 0.8;
$font-normal: 1;
$font-medium: 1.2;
$font-large: 1.6;
$font-huge: 2;
$font-monster: 3;
$font-god: 4;

.wf-loading {
	visibility: hidden;
}
 
.wf-active  {
	visibility: visible;
}