@charset "UTF-8";
/* Base */
/* =========== Mixins */
/* Calculate fluid ratio based on two dimensions (width/height) */
/* Theme */
@font-face {
  font-family: "lovelo_black";
  src: url('_/fonts/lovelo_black.woff') format('woff'), url('_/fonts/lovelo_black.ttf') format('truetype'), url('_/fonts/lovelo_black.svg') format('svg'); }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-regular.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialRegular";
  src: url("_/fonts/ss-social-regular.eot");
  src: url("_/fonts/ss-social-regular.eot?#iefix") format("embedded-opentype"), url("_/fonts/ss-social-regular.woff") format("woff"), url("_/fonts/ss-social-regular.ttf") format("truetype"), url("_/fonts/ss-social-regular.svg#SSSocialRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 25, _/css/theme/_ss-social-regular.scss */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

/* line 31, _/css/theme/_ss-social-regular.scss */
.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after {
  position: relative;
  top: 0.15em;
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

/* line 50, _/css/theme/_ss-social-regular.scss */
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-facebook:before, .ss-facebook.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-twitter:before, .ss-twitter.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-linkedin:before, .ss-linkedin.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-googleplus:before, .ss-googleplus.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-appdotnet:before, .ss-appdotnet.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-zerply:before, .ss-zerply.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-reddit:before, .ss-reddit.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-steam:before, .ss-steam.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-tumblr:before, .ss-tumblr.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-wordpress:before, .ss-wordpress.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-blogger:before, .ss-blogger.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-posterous:before, .ss-posterous.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-quora:before, .ss-quora.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-youtube:before, .ss-youtube.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-vimeo:before, .ss-vimeo.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-vine:before, .ss-vine.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-letterboxd:before, .ss-letterboxd.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-flickr:before, .ss-flickr.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-instagram:before, .ss-instagram.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-500px:before, .ss-500px.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-etsy:before, .ss-etsy.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-pinterest:before, .ss-pinterest.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-svpply:before, .ss-svpply.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-readmill:before, .ss-readmill.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-dropbox:before, .ss-dropbox.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-pinboard:before, .ss-pinboard.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-delicious:before, .ss-delicious.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-dribbble:before, .ss-dribbble.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-behance:before, .ss-behance.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-github:before, .ss-github.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-octocat:before, .ss-octocat.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-stackoverflow:before, .ss-stackoverflow.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-paypal:before, .ss-paypal.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-kickstarter:before, .ss-kickstarter.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-foursquare:before, .ss-foursquare.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-yelp:before, .ss-yelp.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-skype:before, .ss-skype.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-rdio:before, .ss-rdio.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-spotify:before, .ss-spotify.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-lastfm:before, .ss-lastfm.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-soundcloud:before, .ss-soundcloud.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-like:before, .ss-like.right:after {
  content: '👍'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-rss:before, .ss-rss.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-share:before, .ss-share.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-apple:before, .ss-apple.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-microsoft:before, .ss-microsoft.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-windows:before, .ss-windows.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-android:before, .ss-android.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-blackberry:before, .ss-blackberry.right:after {
  content: ''; }

/* Legacy */
/* line 55, _/css/theme/_ss-social-regular.scss */
.ss-fivehundredpx:before, .ss-fivehundredpx.right:after {
  content: ''; }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSStandard";
  src: url("_/fonts/ss-standard.eot");
  src: url("_/fonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("_/fonts/ss-standard.woff") format("woff"), url("_/fonts/ss-standard.ttf") format("truetype"), url("_/fonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 25, _/css/theme/_ss-standard.scss */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

/* line 31, _/css/theme/_ss-standard.scss */
.ss-icon, .ss-icon.ss-standard,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
  position: relative;
  top: 0.1em;
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

/* line 50, _/css/theme/_ss-standard.scss */
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cursor:before, .ss-cursor.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-crosshair:before, .ss-crosshair.right:after {
  content: '⌖'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-search:before, .ss-search.right:after {
  content: '🔎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-zoomin:before, .ss-zoomin.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-zoomout:before, .ss-zoomout.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-view:before, .ss-view.right:after {
  content: '👀'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-attach:before, .ss-attach.right:after {
  content: '📎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-move:before, .ss-move.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-write:before, .ss-write.right:after {
  content: '✎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-writingdisabled:before, .ss-writingdisabled.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-erase:before, .ss-erase.right:after {
  content: '✐'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-compose:before, .ss-compose.right:after {
  content: '📝'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lock:before, .ss-lock.right:after {
  content: '🔒'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-unlock:before, .ss-unlock.right:after {
  content: '🔓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-key:before, .ss-key.right:after {
  content: '🔑'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-backspace:before, .ss-backspace.right:after {
  content: '⌫'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-ban:before, .ss-ban.right:after {
  content: '🚫'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-trash:before, .ss-trash.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-target:before, .ss-target.right:after {
  content: '◎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-tag:before, .ss-tag.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-bookmark:before, .ss-bookmark.right:after {
  content: '🔖'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-flag:before, .ss-flag.right:after {
  content: '⚑'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-like:before, .ss-like.right:after {
  content: '👍'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dislike:before, .ss-dislike.right:after {
  content: '👎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-heart:before, .ss-heart.right:after {
  content: '♥'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-halfheart:before, .ss-halfheart.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-star:before, .ss-star.right:after {
  content: '⋆'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-halfstar:before, .ss-halfstar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-sample:before, .ss-sample.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-crop:before, .ss-crop.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-layers:before, .ss-layers.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fill:before, .ss-fill.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-stroke:before, .ss-stroke.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-phonedisabled:before, .ss-phonedisabled.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-rss:before, .ss-rss.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-facetime:before, .ss-facetime.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-reply:before, .ss-reply.right:after {
  content: '↩'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-send:before, .ss-send.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-inbox:before, .ss-inbox.right:after {
  content: '📥'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-chat:before, .ss-chat.right:after {
  content: '💬'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-ellipsischat:before, .ss-ellipsischat.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-ellipsis:before, .ss-ellipsis.right:after {
  content: '…'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-user:before, .ss-user.right:after {
  content: '👤'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-femaleuser:before, .ss-femaleuser.right:after {
  content: '👧'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-users:before, .ss-users.right:after {
  content: '👥'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cart:before, .ss-cart.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-creditcard:before, .ss-creditcard.right:after {
  content: '💳'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dollarsign:before, .ss-dollarsign.right:after {
  content: '💲'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-barchart:before, .ss-barchart.right:after {
  content: '📊'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-piechart:before, .ss-piechart.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-box:before, .ss-box.right:after {
  content: '📦'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-home:before, .ss-home.right:after {
  content: '⌂'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-buildings:before, .ss-buildings.right:after {
  content: '🏢'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-warehouse:before, .ss-warehouse.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-globe:before, .ss-globe.right:after {
  content: '🌎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigate:before, .ss-navigate.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-compass:before, .ss-compass.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-signpost:before, .ss-signpost.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-map:before, .ss-map.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-location:before, .ss-location.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-pin:before, .ss-pin.right:after {
  content: '📍'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-database:before, .ss-database.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-hdd:before, .ss-hdd.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-music:before, .ss-music.right:after {
  content: '♫'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-mic:before, .ss-mic.right:after {
  content: '🎤'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-volume:before, .ss-volume.right:after {
  content: '🔈'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lowvolume:before, .ss-lowvolume.right:after {
  content: '🔉'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-highvolume:before, .ss-highvolume.right:after {
  content: '🔊'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-airplay:before, .ss-airplay.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-camera:before, .ss-camera.right:after {
  content: '📷'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-picture:before, .ss-picture.right:after {
  content: '🌄'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-video:before, .ss-video.right:after {
  content: '📹'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-play:before, .ss-play.right:after {
  content: '▶'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-pause:before, .ss-pause.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-stop:before, .ss-stop.right:after {
  content: '■'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-record:before, .ss-record.right:after {
  content: '●'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-rewind:before, .ss-rewind.right:after {
  content: '⏪'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fastforward:before, .ss-fastforward.right:after {
  content: '⏩'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-skipback:before, .ss-skipback.right:after {
  content: '⏮'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-skipforward:before, .ss-skipforward.right:after {
  content: '⏭'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-eject:before, .ss-eject.right:after {
  content: '⏏'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-repeat:before, .ss-repeat.right:after {
  content: '🔁'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-replay:before, .ss-replay.right:after {
  content: '↺'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-shuffle:before, .ss-shuffle.right:after {
  content: '🔀'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-book:before, .ss-book.right:after {
  content: '📕'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-openbook:before, .ss-openbook.right:after {
  content: '📖'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-notebook:before, .ss-notebook.right:after {
  content: '📓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-newspaper:before, .ss-newspaper.right:after {
  content: '📰'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-grid:before, .ss-grid.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-rows:before, .ss-rows.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-columns:before, .ss-columns.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-thumbnails:before, .ss-thumbnails.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-filter:before, .ss-filter.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-desktop:before, .ss-desktop.right:after {
  content: '💻'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-laptop:before, .ss-laptop.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-tablet:before, .ss-tablet.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cell:before, .ss-cell.right:after {
  content: '📱'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-battery:before, .ss-battery.right:after {
  content: '🔋'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-highbattery:before, .ss-highbattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-mediumbattery:before, .ss-mediumbattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lowbattery:before, .ss-lowbattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-emptybattery:before, .ss-emptybattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lightbulb:before, .ss-lightbulb.right:after {
  content: '💡'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-downloadcloud:before, .ss-downloadcloud.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-download:before, .ss-download.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-uploadcloud:before, .ss-uploadcloud.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-upload:before, .ss-upload.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fork:before, .ss-fork.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-merge:before, .ss-merge.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-transfer:before, .ss-transfer.right:after {
  content: '⇆'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-refresh:before, .ss-refresh.right:after {
  content: '↻'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-sync:before, .ss-sync.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-loading:before, .ss-loading.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-wifi:before, .ss-wifi.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-connection:before, .ss-connection.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-file:before, .ss-file.right:after {
  content: '📄'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-folder:before, .ss-folder.right:after {
  content: '📁'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-quote:before, .ss-quote.right:after {
  content: '“'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-text:before, .ss-text.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-font:before, .ss-font.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-print:before, .ss-print.right:after {
  content: '⎙'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fax:before, .ss-fax.right:after {
  content: '📠'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-list:before, .ss-list.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-layout:before, .ss-layout.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-action:before, .ss-action.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-redirect:before, .ss-redirect.right:after {
  content: '↪'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-expand:before, .ss-expand.right:after {
  content: '⤢'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-contract:before, .ss-contract.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-help:before, .ss-help.right:after {
  content: '❓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-info:before, .ss-info.right:after {
  content: 'ℹ'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-alert:before, .ss-alert.right:after {
  content: '⚠'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-caution:before, .ss-caution.right:after {
  content: '⛔'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-logout:before, .ss-logout.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-plus:before, .ss-plus.right:after {
  content: '+'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-hyphen:before, .ss-hyphen.right:after {
  content: '-'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-check:before, .ss-check.right:after {
  content: '✓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-delete:before, .ss-delete.right:after {
  content: '␡'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-settings:before, .ss-settings.right:after {
  content: '⚙'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dashboard:before, .ss-dashboard.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-notifications:before, .ss-notifications.right:after {
  content: '🔔'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-notificationsdisabled:before, .ss-notificationsdisabled.right:after {
  content: '🔕'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-clock:before, .ss-clock.right:after {
  content: '⏲'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-stopwatch:before, .ss-stopwatch.right:after {
  content: '⏱'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-calendar:before, .ss-calendar.right:after {
  content: '📅'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-addcalendar:before, .ss-addcalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-removecalendar:before, .ss-removecalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-checkcalendar:before, .ss-checkcalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-deletecalendar:before, .ss-deletecalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-briefcase:before, .ss-briefcase.right:after {
  content: '💼'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cloud:before, .ss-cloud.right:after {
  content: '☁'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-droplet:before, .ss-droplet.right:after {
  content: '💧'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-flask:before, .ss-flask.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-up:before, .ss-up.right:after {
  content: '⬆'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-upright:before, .ss-upright.right:after {
  content: '⬈'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-right:before, .ss-right.right:after {
  content: '➡'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-downright:before, .ss-downright.right:after {
  content: '⬊'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-down:before, .ss-down.right:after {
  content: '⬇'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-downleft:before, .ss-downleft.right:after {
  content: '⬋'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-left:before, .ss-left.right:after {
  content: '⬅'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-upleft:before, .ss-upleft.right:after {
  content: '⬉'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigateup:before, .ss-navigateup.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigateright:before, .ss-navigateright.right:after {
  content: '▻'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigatedown:before, .ss-navigatedown.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigateleft:before, .ss-navigateleft.right:after {
  content: '◅'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-directup:before, .ss-directup.right:after {
  content: '▴'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-directright:before, .ss-directright.right:after {
  content: '▹'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dropdown:before, .ss-dropdown.right:after {
  content: '▾'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-directleft:before, .ss-directleft.right:after {
  content: '◃'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-retweet:before, .ss-retweet.right:after {
  content: ''; }

/* Legacy classes */
/* line 55, _/css/theme/_ss-standard.scss */
.ss-volumelow:before, .ss-volumelow.right:after {
  content: '🔉'; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-volumehigh:before, .ss-volumehigh.right:after {
  content: '🔊'; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batteryhigh:before, .ss-batteryhigh.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batterymedium:before, .ss-batterymedium.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batterylow:before, .ss-batterylow.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batteryempty:before, .ss-batteryempty.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-clouddownload:before, .ss-clouddownload.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-cloudupload:before, .ss-cloudupload.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendaradd:before, .ss-calendaradd.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendarremove:before, .ss-calendarremove.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendarcheck:before, .ss-calendarcheck.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendardelete:before, .ss-calendardelete.right:after {
  content: ''; }

/* line 39, _/css/theme/_type.scss */
.wf-loading {
  visibility: hidden; }

/* line 43, _/css/theme/_type.scss */
.wf-active {
  visibility: visible; }

/* =========== Semantic fluid grid */
/*

    Use '@include grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '@include grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* Use this mixin to reset your grid by example for your mobile articles */
/* The clearfix mixin is necessary for the floats */
/* line 1, _/css/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 3, _/css/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, _/css/_base.scss */
::-moz-selection {
  background: white;
  color: white;
  text-shadow: none; }

/* line 6, _/css/_base.scss */
::selection {
  background: white;
  color: white;
  text-shadow: none; }

/* line 8, _/css/_base.scss */
html {
  width: 100%;
  height: 100%;
  background: white;
  font: 18px "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #231f24;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

/* line 22, _/css/_base.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* line 32, _/css/_base.scss */
h1, h2, h3 {
  font-family: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 1.25em;
  padding: 0;
  font-weight: 300;
  letter-spacing: 0.1em; }

/* line 41, _/css/_base.scss */
h1 {
  font-size: 1.6em;
  line-height: 1em; }
  @media screen and (min-width: 55em) {
    /* line 41, _/css/_base.scss */
    h1 {
      font-size: 3em;
      line-height: 1em; } }
  /* line 48, _/css/_base.scss */
  h1 a:hover {
    text-decoration: none; }

/* line 53, _/css/_base.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.25em;
  margin-bottom: 1em; }

/* line 57, _/css/_base.scss */
h3 {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 1em; }
  @media screen and (min-width: 55em) {
    /* line 57, _/css/_base.scss */
    h3 {
      font-size: 1.6em;
      line-height: 1em; } }

/* line 68, _/css/_base.scss */
img,
a img,
.image {
  max-width: 100%;
  height: auto;
  border: none; }

/* line 75, _/css/_base.scss */
p {
  margin-top: 0;
  margin-bottom: 2em; }

/* line 79, _/css/_base.scss */
small {
  font-size: 0.75em; }

/* line 84, _/css/_base.scss */
strong,
b {
  color: #231f24;
  font-weight: 600; }

/* line 89, _/css/_base.scss */
em,
i {
  font-style: italic; }

/* line 93, _/css/_base.scss */
a {
  color: #f9f9f9;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  /* line 97, _/css/_base.scss */
  a:hover {
    color: #cccccc;
    text-decoration: none; }

/* line 111, _/css/_base.scss */
ul,
ul li,
li,
dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 117, _/css/_base.scss */
blockquote {
  margin: 15px 0 15px 27px;
  padding-left: 10px;
  border-left: 5px solid #666; }
  /* line 121, _/css/_base.scss */
  blockquote p {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic; }

/* line 128, _/css/_base.scss */
*:focus {
  outline: none; }

/* line 129, _/css/_base.scss */
*::-moz-focus-inner {
  border: none; }

/* line 130, _/css/_base.scss */
iframe {
  max-width: 100%; }

/* WordPress classes */
/* line 133, _/css/_base.scss */
.alignleft {
  float: left; }

/* line 134, _/css/_base.scss */
.alignright {
  float: right; }

/* line 135, _/css/_base.scss */
img.alignleft {
  float: left;
  margin: 0; }

/* line 136, _/css/_base.scss */
img.alignright {
  float: right;
  margin: 0; }

/* line 137, _/css/_base.scss */
img.aligncenter {
  display: block;
  margin: 0 auto; }

@media screen and (min-width: 55em) {
  /* line 140, _/css/_base.scss */
  .textalign-right {
    text-align: right; }

  /* line 141, _/css/_base.scss */
  .textalign-left {
    text-align: left; } }
/* line 1, _/css/module/_highlight.scss */
a.highlight {
  display: inline-block;
  background: #f9f9f9;
  padding: 0.1em 0.5em;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  color: white;
  text-align: center;
  cursor: pointer; }
  /* line 17, _/css/module/_highlight.scss */
  a.highlight:hover {
    background: #888888;
    color: white;
    text-decoration: none; }

/* line 3, _/css/module/_button.scss */
.button,
input[type="submit"],
button {
  display: inline;
  display: inline-block;
  position: relative;
  margin-bottom: 2em;
  background-color: transparent;
  padding: 0.666em 1em;
  border: 1px #231f24 solid;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  font-family: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  color: #666666; }
  /* line 26, _/css/module/_button.scss */
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus {
    cursor: pointer;
    color: #231f24; }
  /* line 32, _/css/module/_button.scss */
  .button:active,
  input[type="submit"]:active,
  button:active {
    color: #231f24;
    -webkit-transition-duration: 0.05s;
    -moz-transition-duration: 0.05s;
    -o-transition-duration: 0.05s;
    transition-duration: 0.05s; }

/* line 2, _/css/module/_more-link.scss */
.more-link,
a.more-link {
  width: 100%;
  background-color: #f9f9f9;
  text-align: left;
  font-weight: 600;
  color: white; }

/* line 20, _/css/module/_more-link.scss */
.home .article .more-link,
.home .article .more-link,
.archive .article .more-link,
.archive .article .more-link {
  background-color: #f9f9f9; }
/* line 23, _/css/module/_more-link.scss */
.home .article:hover .more-link,
.archive .article:hover .more-link {
  background-color: #888888;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s; }

/* line 1, _/css/module/_lead.scss */
.lead {
  float: left;
  width: 95.83333%;
  margin-left: 2.08333%;
  margin-right: 2.08333%;
  margin-bottom: 2em;
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight: 300;
  color: #666666;
  text-align: center; }
  @media screen and (min-width: 1280px) {
    /* line 1, _/css/module/_lead.scss */
    .lead {
      font-size: 1.6em;
      line-height: 1.5em; } }

/* line 18, _/css/custom-editor-styles.scss */
#tinymce {
  background: white !important;
  padding: 0.5em;
  font-size: 0.9em;
  text-align: left !important; }
  /* line 26, _/css/custom-editor-styles.scss */
  #tinymce p {
    max-width: 30em; }
