@charset "UTF-8";
/*
Theme Name: ProductPress
Theme URI: http://www.bestproductpage.com
Description: Single page product presentation template
Version: 0.6
Author: Bram Willemse
Tags: HTML5, CSS3, SCSS, Compass, SMACSS
*/
/* COMPASS */
/* =========== Mixins */
/* Calculate fluid ratio based on two dimensions (width/height) */
/* THEME */
@font-face {
  font-family: "lovelo_black";
  src: url('_/fonts/lovelo_black.woff') format('woff'), url('_/fonts/lovelo_black.ttf') format('truetype'), url('_/fonts/lovelo_black.svg') format('svg'); }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-regular.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialRegular";
  src: url("_/fonts/ss-social-regular.eot");
  src: url("_/fonts/ss-social-regular.eot?#iefix") format("embedded-opentype"), url("_/fonts/ss-social-regular.woff") format("woff"), url("_/fonts/ss-social-regular.ttf") format("truetype"), url("_/fonts/ss-social-regular.svg#SSSocialRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 25, _/css/theme/_ss-social-regular.scss */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

/* line 31, _/css/theme/_ss-social-regular.scss */
.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after {
  position: relative;
  top: 0.15em;
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

/* line 50, _/css/theme/_ss-social-regular.scss */
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-facebook:before, .ss-facebook.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-twitter:before, .ss-twitter.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-linkedin:before, .ss-linkedin.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-googleplus:before, .ss-googleplus.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-appdotnet:before, .ss-appdotnet.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-zerply:before, .ss-zerply.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-reddit:before, .ss-reddit.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-steam:before, .ss-steam.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-tumblr:before, .ss-tumblr.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-wordpress:before, .ss-wordpress.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-blogger:before, .ss-blogger.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-posterous:before, .ss-posterous.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-quora:before, .ss-quora.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-youtube:before, .ss-youtube.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-vimeo:before, .ss-vimeo.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-vine:before, .ss-vine.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-letterboxd:before, .ss-letterboxd.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-flickr:before, .ss-flickr.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-instagram:before, .ss-instagram.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-500px:before, .ss-500px.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-etsy:before, .ss-etsy.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-pinterest:before, .ss-pinterest.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-svpply:before, .ss-svpply.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-readmill:before, .ss-readmill.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-dropbox:before, .ss-dropbox.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-pinboard:before, .ss-pinboard.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-delicious:before, .ss-delicious.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-dribbble:before, .ss-dribbble.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-behance:before, .ss-behance.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-github:before, .ss-github.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-octocat:before, .ss-octocat.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-stackoverflow:before, .ss-stackoverflow.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-paypal:before, .ss-paypal.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-kickstarter:before, .ss-kickstarter.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-foursquare:before, .ss-foursquare.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-yelp:before, .ss-yelp.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-skype:before, .ss-skype.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-rdio:before, .ss-rdio.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-spotify:before, .ss-spotify.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-lastfm:before, .ss-lastfm.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-soundcloud:before, .ss-soundcloud.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-like:before, .ss-like.right:after {
  content: '👍'; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-rss:before, .ss-rss.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-share:before, .ss-share.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-apple:before, .ss-apple.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-microsoft:before, .ss-microsoft.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-windows:before, .ss-windows.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-android:before, .ss-android.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-social-regular.scss */
.ss-blackberry:before, .ss-blackberry.right:after {
  content: ''; }

/* Legacy */
/* line 55, _/css/theme/_ss-social-regular.scss */
.ss-fivehundredpx:before, .ss-fivehundredpx.right:after {
  content: ''; }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSStandard";
  src: url("_/fonts/ss-standard.eot");
  src: url("_/fonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("_/fonts/ss-standard.woff") format("woff"), url("_/fonts/ss-standard.ttf") format("truetype"), url("_/fonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 25, _/css/theme/_ss-standard.scss */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

/* line 31, _/css/theme/_ss-standard.scss */
.ss-icon, .ss-icon.ss-standard,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
  position: relative;
  top: 0.1em;
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

/* line 50, _/css/theme/_ss-standard.scss */
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cursor:before, .ss-cursor.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-crosshair:before, .ss-crosshair.right:after {
  content: '⌖'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-search:before, .ss-search.right:after {
  content: '🔎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-zoomin:before, .ss-zoomin.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-zoomout:before, .ss-zoomout.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-view:before, .ss-view.right:after {
  content: '👀'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-attach:before, .ss-attach.right:after {
  content: '📎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-move:before, .ss-move.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-write:before, .ss-write.right:after {
  content: '✎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-writingdisabled:before, .ss-writingdisabled.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-erase:before, .ss-erase.right:after {
  content: '✐'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-compose:before, .ss-compose.right:after {
  content: '📝'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lock:before, .ss-lock.right:after {
  content: '🔒'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-unlock:before, .ss-unlock.right:after {
  content: '🔓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-key:before, .ss-key.right:after {
  content: '🔑'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-backspace:before, .ss-backspace.right:after {
  content: '⌫'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-ban:before, .ss-ban.right:after {
  content: '🚫'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-trash:before, .ss-trash.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-target:before, .ss-target.right:after {
  content: '◎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-tag:before, .ss-tag.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-bookmark:before, .ss-bookmark.right:after {
  content: '🔖'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-flag:before, .ss-flag.right:after {
  content: '⚑'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-like:before, .ss-like.right:after {
  content: '👍'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dislike:before, .ss-dislike.right:after {
  content: '👎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-heart:before, .ss-heart.right:after {
  content: '♥'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-halfheart:before, .ss-halfheart.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-star:before, .ss-star.right:after {
  content: '⋆'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-halfstar:before, .ss-halfstar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-sample:before, .ss-sample.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-crop:before, .ss-crop.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-layers:before, .ss-layers.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fill:before, .ss-fill.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-stroke:before, .ss-stroke.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-phonedisabled:before, .ss-phonedisabled.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-rss:before, .ss-rss.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-facetime:before, .ss-facetime.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-reply:before, .ss-reply.right:after {
  content: '↩'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-send:before, .ss-send.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-inbox:before, .ss-inbox.right:after {
  content: '📥'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-chat:before, .ss-chat.right:after {
  content: '💬'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-ellipsischat:before, .ss-ellipsischat.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-ellipsis:before, .ss-ellipsis.right:after {
  content: '…'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-user:before, .ss-user.right:after {
  content: '👤'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-femaleuser:before, .ss-femaleuser.right:after {
  content: '👧'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-users:before, .ss-users.right:after {
  content: '👥'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cart:before, .ss-cart.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-creditcard:before, .ss-creditcard.right:after {
  content: '💳'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dollarsign:before, .ss-dollarsign.right:after {
  content: '💲'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-barchart:before, .ss-barchart.right:after {
  content: '📊'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-piechart:before, .ss-piechart.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-box:before, .ss-box.right:after {
  content: '📦'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-home:before, .ss-home.right:after {
  content: '⌂'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-buildings:before, .ss-buildings.right:after {
  content: '🏢'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-warehouse:before, .ss-warehouse.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-globe:before, .ss-globe.right:after {
  content: '🌎'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigate:before, .ss-navigate.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-compass:before, .ss-compass.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-signpost:before, .ss-signpost.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-map:before, .ss-map.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-location:before, .ss-location.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-pin:before, .ss-pin.right:after {
  content: '📍'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-database:before, .ss-database.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-hdd:before, .ss-hdd.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-music:before, .ss-music.right:after {
  content: '♫'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-mic:before, .ss-mic.right:after {
  content: '🎤'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-volume:before, .ss-volume.right:after {
  content: '🔈'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lowvolume:before, .ss-lowvolume.right:after {
  content: '🔉'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-highvolume:before, .ss-highvolume.right:after {
  content: '🔊'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-airplay:before, .ss-airplay.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-camera:before, .ss-camera.right:after {
  content: '📷'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-picture:before, .ss-picture.right:after {
  content: '🌄'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-video:before, .ss-video.right:after {
  content: '📹'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-play:before, .ss-play.right:after {
  content: '▶'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-pause:before, .ss-pause.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-stop:before, .ss-stop.right:after {
  content: '■'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-record:before, .ss-record.right:after {
  content: '●'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-rewind:before, .ss-rewind.right:after {
  content: '⏪'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fastforward:before, .ss-fastforward.right:after {
  content: '⏩'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-skipback:before, .ss-skipback.right:after {
  content: '⏮'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-skipforward:before, .ss-skipforward.right:after {
  content: '⏭'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-eject:before, .ss-eject.right:after {
  content: '⏏'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-repeat:before, .ss-repeat.right:after {
  content: '🔁'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-replay:before, .ss-replay.right:after {
  content: '↺'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-shuffle:before, .ss-shuffle.right:after {
  content: '🔀'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-book:before, .ss-book.right:after {
  content: '📕'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-openbook:before, .ss-openbook.right:after {
  content: '📖'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-notebook:before, .ss-notebook.right:after {
  content: '📓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-newspaper:before, .ss-newspaper.right:after {
  content: '📰'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-grid:before, .ss-grid.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-rows:before, .ss-rows.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-columns:before, .ss-columns.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-thumbnails:before, .ss-thumbnails.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-filter:before, .ss-filter.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-desktop:before, .ss-desktop.right:after {
  content: '💻'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-laptop:before, .ss-laptop.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-tablet:before, .ss-tablet.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cell:before, .ss-cell.right:after {
  content: '📱'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-battery:before, .ss-battery.right:after {
  content: '🔋'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-highbattery:before, .ss-highbattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-mediumbattery:before, .ss-mediumbattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lowbattery:before, .ss-lowbattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-emptybattery:before, .ss-emptybattery.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-lightbulb:before, .ss-lightbulb.right:after {
  content: '💡'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-downloadcloud:before, .ss-downloadcloud.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-download:before, .ss-download.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-uploadcloud:before, .ss-uploadcloud.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-upload:before, .ss-upload.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fork:before, .ss-fork.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-merge:before, .ss-merge.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-transfer:before, .ss-transfer.right:after {
  content: '⇆'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-refresh:before, .ss-refresh.right:after {
  content: '↻'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-sync:before, .ss-sync.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-loading:before, .ss-loading.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-wifi:before, .ss-wifi.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-connection:before, .ss-connection.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-file:before, .ss-file.right:after {
  content: '📄'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-folder:before, .ss-folder.right:after {
  content: '📁'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-quote:before, .ss-quote.right:after {
  content: '“'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-text:before, .ss-text.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-font:before, .ss-font.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-print:before, .ss-print.right:after {
  content: '⎙'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-fax:before, .ss-fax.right:after {
  content: '📠'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-list:before, .ss-list.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-layout:before, .ss-layout.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-action:before, .ss-action.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-redirect:before, .ss-redirect.right:after {
  content: '↪'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-expand:before, .ss-expand.right:after {
  content: '⤢'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-contract:before, .ss-contract.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-help:before, .ss-help.right:after {
  content: '❓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-info:before, .ss-info.right:after {
  content: 'ℹ'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-alert:before, .ss-alert.right:after {
  content: '⚠'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-caution:before, .ss-caution.right:after {
  content: '⛔'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-logout:before, .ss-logout.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-plus:before, .ss-plus.right:after {
  content: '+'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-hyphen:before, .ss-hyphen.right:after {
  content: '-'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-check:before, .ss-check.right:after {
  content: '✓'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-delete:before, .ss-delete.right:after {
  content: '␡'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-settings:before, .ss-settings.right:after {
  content: '⚙'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dashboard:before, .ss-dashboard.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-notifications:before, .ss-notifications.right:after {
  content: '🔔'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-notificationsdisabled:before, .ss-notificationsdisabled.right:after {
  content: '🔕'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-clock:before, .ss-clock.right:after {
  content: '⏲'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-stopwatch:before, .ss-stopwatch.right:after {
  content: '⏱'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-calendar:before, .ss-calendar.right:after {
  content: '📅'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-addcalendar:before, .ss-addcalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-removecalendar:before, .ss-removecalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-checkcalendar:before, .ss-checkcalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-deletecalendar:before, .ss-deletecalendar.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-briefcase:before, .ss-briefcase.right:after {
  content: '💼'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-cloud:before, .ss-cloud.right:after {
  content: '☁'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-droplet:before, .ss-droplet.right:after {
  content: '💧'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-flask:before, .ss-flask.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-up:before, .ss-up.right:after {
  content: '⬆'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-upright:before, .ss-upright.right:after {
  content: '⬈'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-right:before, .ss-right.right:after {
  content: '➡'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-downright:before, .ss-downright.right:after {
  content: '⬊'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-down:before, .ss-down.right:after {
  content: '⬇'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-downleft:before, .ss-downleft.right:after {
  content: '⬋'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-left:before, .ss-left.right:after {
  content: '⬅'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-upleft:before, .ss-upleft.right:after {
  content: '⬉'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigateup:before, .ss-navigateup.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigateright:before, .ss-navigateright.right:after {
  content: '▻'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigatedown:before, .ss-navigatedown.right:after {
  content: ''; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-navigateleft:before, .ss-navigateleft.right:after {
  content: '◅'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-directup:before, .ss-directup.right:after {
  content: '▴'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-directright:before, .ss-directright.right:after {
  content: '▹'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-dropdown:before, .ss-dropdown.right:after {
  content: '▾'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-directleft:before, .ss-directleft.right:after {
  content: '◃'; }

/* line 52, _/css/theme/_ss-standard.scss */
.ss-retweet:before, .ss-retweet.right:after {
  content: ''; }

/* Legacy classes */
/* line 55, _/css/theme/_ss-standard.scss */
.ss-volumelow:before, .ss-volumelow.right:after {
  content: '🔉'; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-volumehigh:before, .ss-volumehigh.right:after {
  content: '🔊'; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batteryhigh:before, .ss-batteryhigh.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batterymedium:before, .ss-batterymedium.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batterylow:before, .ss-batterylow.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-batteryempty:before, .ss-batteryempty.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-clouddownload:before, .ss-clouddownload.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-cloudupload:before, .ss-cloudupload.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendaradd:before, .ss-calendaradd.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendarremove:before, .ss-calendarremove.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendarcheck:before, .ss-calendarcheck.right:after {
  content: ''; }

/* line 55, _/css/theme/_ss-standard.scss */
.ss-calendardelete:before, .ss-calendardelete.right:after {
  content: ''; }

/* line 39, _/css/theme/_type.scss */
.wf-loading {
  visibility: hidden; }

/* line 43, _/css/theme/_type.scss */
.wf-active {
  visibility: visible; }

/* BASE */
/* =========== Semantic fluid grid */
/*

    Use '@include grid(12, 2)' to make a column. 
    The first unit (12) is the column width.
    The second unit (2) is the margin on both sides.
    The margin will be auto substracted from the column width.
    So don't recalculate the column width if you change your margin.
    
    To set different margins on both sides use '@include grid(12, 2, 3)'.
    You can also use negative margins.
    
*/
/* Use this mixin to reset your grid by example for your mobile articles */
/* The clearfix mixin is necessary for the floats */
/* line 1, _/css/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 3, _/css/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, _/css/_base.scss */
::-moz-selection {
  background: white;
  color: white;
  text-shadow: none; }

/* line 6, _/css/_base.scss */
::selection {
  background: white;
  color: white;
  text-shadow: none; }

/* line 8, _/css/_base.scss */
html {
  width: 100%;
  height: 100%;
  background: white;
  font: 18px "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #231f24;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

/* line 22, _/css/_base.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* line 32, _/css/_base.scss */
h1, h2, h3 {
  font-family: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 1.25em;
  padding: 0;
  font-weight: 300;
  letter-spacing: 0.1em; }

/* line 41, _/css/_base.scss */
h1 {
  font-size: 1.6em;
  line-height: 1em; }
  @media screen and (min-width: 55em) {
    /* line 41, _/css/_base.scss */
    h1 {
      font-size: 3em;
      line-height: 1em; } }
  /* line 48, _/css/_base.scss */
  h1 a:hover {
    text-decoration: none; }

/* line 53, _/css/_base.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.25em;
  margin-bottom: 1em; }

/* line 57, _/css/_base.scss */
h3 {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 1em; }
  @media screen and (min-width: 55em) {
    /* line 57, _/css/_base.scss */
    h3 {
      font-size: 1.6em;
      line-height: 1em; } }

/* line 68, _/css/_base.scss */
img,
a img,
.image {
  max-width: 100%;
  height: auto;
  border: none; }

/* line 75, _/css/_base.scss */
p {
  margin-top: 0;
  margin-bottom: 2em; }

/* line 79, _/css/_base.scss */
small {
  font-size: 0.75em; }

/* line 84, _/css/_base.scss */
strong,
b {
  color: #231f24;
  font-weight: 600; }

/* line 89, _/css/_base.scss */
em,
i {
  font-style: italic; }

/* line 93, _/css/_base.scss */
a {
  color: #f9f9f9;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  /* line 97, _/css/_base.scss */
  a:hover {
    color: #cccccc;
    text-decoration: none; }

/* line 111, _/css/_base.scss */
ul,
ul li,
li,
dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 117, _/css/_base.scss */
blockquote {
  margin: 15px 0 15px 27px;
  padding-left: 10px;
  border-left: 5px solid #666; }
  /* line 121, _/css/_base.scss */
  blockquote p {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic; }

/* line 128, _/css/_base.scss */
*:focus {
  outline: none; }

/* line 129, _/css/_base.scss */
*::-moz-focus-inner {
  border: none; }

/* line 130, _/css/_base.scss */
iframe {
  max-width: 100%; }

/* WordPress classes */
/* line 133, _/css/_base.scss */
.alignleft {
  float: left; }

/* line 134, _/css/_base.scss */
.alignright {
  float: right; }

/* line 135, _/css/_base.scss */
img.alignleft {
  float: left;
  margin: 0; }

/* line 136, _/css/_base.scss */
img.alignright {
  float: right;
  margin: 0; }

/* line 137, _/css/_base.scss */
img.aligncenter {
  display: block;
  margin: 0 auto; }

@media screen and (min-width: 55em) {
  /* line 140, _/css/_base.scss */
  .textalign-right {
    text-align: right; }

  /* line 141, _/css/_base.scss */
  .textalign-left {
    text-align: left; } }
/* LAYOUT */
/* line 1, _/css/layout/_l-centered.scss */
.l-centered {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 1, _/css/layout/_l-container.scss */
.l-container {
  float: none;
  overflow: visible;
  max-width: 71.11111em;
  margin-left: auto;
  margin-right: auto; }

/* line 1, _/css/layout/_l-sticky_wrapper.scss */
.l-sticky_wrapper {
  display: none; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/layout/_l-sticky_wrapper.scss */
    .l-sticky_wrapper {
      display: block; } }

/* line 2, _/css/layout/_l-content.scss */
.l-content,
.content {
  width: 100%;
  overflow: hidden;
  margin: 0; }

/* line 1, _/css/layout/_l-fullwidth.scss */
.l-fullwidth {
  clear: both; }

/* line 1, _/css/layout/_l-twothirds.scss */
.l-twothirds {
  margin: 0 1em 2em; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/layout/_l-twothirds.scss */
    .l-twothirds {
      float: left;
      width: 58.33333%;
      margin-left: 4.16667%;
      margin-right: 4.16667%;
      clear: none; } }

/* line 1, _/css/layout/_l-half.scss */
.l-half {
  margin: 0 1em 2em; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/layout/_l-half.scss */
    .l-half {
      float: left;
      width: 45.83333%;
      margin-left: 2.08333%;
      margin-right: 2.08333%;
      clear: none; } }

/* line 1, _/css/layout/_l-third.scss */
.l-third {
  margin: 0 1em 2em; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/layout/_l-third.scss */
    .l-third {
      float: left;
      width: 25%;
      margin-left: 4.16667%;
      margin-right: 4.16667%;
      clear: none; } }

/* line 1, _/css/layout/_l-footer.scss */
.l-footer {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }

/* MODULE */
/* line 1, _/css/module/_image.scss */
.image {
  margin-bottom: 2em;
  -webkit-transform: translateZ(0); }
  /* line 6, _/css/module/_image.scss */
  .image img {
    vertical-align: middle; }

@media screen and (min-width: 55em) {
  /* line 16, _/css/module/_image.scss */
  .image-left {
    text-align: right; }

  /* line 20, _/css/module/_image.scss */
  .image-right {
    float: right; }
    /* line 22, _/css/module/_image.scss */
    .image-right img {
      text-align: left; } }
/* line 1, _/css/module/_image-adaptive.scss */
.image-adaptive {
  display: block;
  position: relative;
  height: 270px;
  /* start height */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 56.25%;
  /* slope */
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  /* Firefox 3.6 */
  background-position: center;
  /* Internet Explorer 7/8 */
  line-height: 0; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_image-adaptive.scss */
    .image-adaptive {
      padding-top: 33.333%; } }

/* line 1, _/css/module/_image-slide.scss */
.image-slide {
  height: auto;
  z-index: -1; }

/* line 1, _/css/module/_videos.scss */
.videos {
  background-color: #000;
  color: white; }
  /* line 8, _/css/module/_videos.scss */
  .videos h3.lined span::before,
  .videos h3.lined span::after {
    border-color: white; }

/* line 1, _/css/module/_video.scss */
.video {
  text-align: center; }

/* line 1, _/css/module/_box-video.scss */
.box-video {
  position: relative;
  margin: 0 auto;
  margin-bottom: 2em;
  height: 0;
  clear: both;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  z-index: 1; }
  /* line 13, _/css/module/_box-video.scss */
  .box-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }

/* line 3, _/css/module/_form.scss */
.form .instructions {
  text-align: center; }
  /* line 6, _/css/module/_form.scss */
  .form .instructions ul li {
    list-style-type: decimal; }

/* line 12, _/css/module/_form.scss */
.gform_wrapper {
  position: relative;
  font-size: 1em;
  line-height: 1.5em; }
  /* line 19, _/css/module/_form.scss */
  .gform_wrapper ol li {
    list-style: none;
    margin: 0; }
  @media screen and (max-width: 768px) {
    /* line 17, _/css/module/_form.scss */
    .gform_wrapper ol {
      margin-left: 0; } }
  /* line 28, _/css/module/_form.scss */
  .gform_wrapper .gfield_label {
    padding: 0.666em 1em 0.666em 0;
    font-weight: 600;
    vertical-align: middle; }
  /* line 36, _/css/module/_form.scss */
  .gform_wrapper .gform_body input,
  .gform_wrapper .gform_body textarea {
    padding: 0.666em 1em;
    margin-bottom: 2em;
    max-width: 100%;
    width: 66.666%;
    color: white;
    border: 1px solid white;
    background-color: #888888;
    font-size: 1em;
    line-height: 1.5em; }
    /* line 50, _/css/module/_form.scss */
    .gform_wrapper .gform_body input:hover,
    .gform_wrapper .gform_body textarea:hover {
      color: white;
      background-color: #404040; }
    /* line 55, _/css/module/_form.scss */
    .gform_wrapper .gform_body input:focus,
    .gform_wrapper .gform_body textarea:focus {
      background-color: #2b2b2b;
      -webkit-box-shadow: 0 0 15px #090909 inset;
      -moz-box-shadow: 0 0 15px #090909 inset;
      -o-box-shadow: 0 0 15px #090909 inset;
      box-shadow: 0 0 15px #090909 inset; }
  /* line 61, _/css/module/_form.scss */
  .gform_wrapper .validation_error {
    display: none; }
  /* line 64, _/css/module/_form.scss */
  .gform_wrapper .validation_message {
    display: inline-block;
    clear: both;
    margin-top: -2em;
    margin-bottom: 2em;
    background-color: red;
    padding: 0.333em 0.666em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    font-size: 0.8em;
    line-height: 1.2em;
    color: white;
    font-weight: 600; }
  @media screen and (min-width: 768px) {
    /* line 12, _/css/module/_form.scss */
    .gform_wrapper {
      max-width: 71.11111em;
      margin-left: auto;
      margin-right: auto; }
      /* line 86, _/css/module/_form.scss */
      .gform_wrapper .gform_footer {
        float: left;
        width: 64.58333%;
        margin-left: 35.41667%;
        margin-right: 0%; }
      /* line 93, _/css/module/_form.scss */
      .gform_wrapper .gfield_label,
      .gform_wrapper .ginput_container,
      .gform_wrapper input,
      .gform_wrapper textarea {
        display: inline; }
      /* line 96, _/css/module/_form.scss */
      .gform_wrapper .gfield_label {
        float: left;
        width: 31.25%;
        margin-left: 0%;
        margin-right: 2.08333%; }
      /* line 100, _/css/module/_form.scss */
      .gform_wrapper .gform_body input,
      .gform_wrapper .gform_body textarea {
        float: left;
        width: 64.58333%;
        margin-left: 2.08333%;
        margin-right: 0%; } }

/* line 107, _/css/module/_form.scss */
.l-fullwidth .gform_wrapper,
.l-fullwidth .gform_footer {
  width: 100%;
  margin: 0;
  padding: 0; }
  /* line 112, _/css/module/_form.scss */
  .l-fullwidth .gform_wrapper label,
  .l-fullwidth .gform_footer label {
    display: none; }
  /* line 116, _/css/module/_form.scss */
  .l-fullwidth .gform_wrapper input,
  .l-fullwidth .gform_footer input {
    display: block;
    width: 100%;
    margin: 0;
    clear: both;
    text-align: center; }

/* line 1, _/css/module/_lined.scss */
.lined {
  margin-bottom: 0;
  padding: 0.3em 0;
  font-size: 0.8em;
  line-height: 0.4em;
  text-align: center; }
  /* line 10, _/css/module/_lined.scss */
  .lined span {
    display: inline-block;
    position: relative; }
  /* line 15, _/css/module/_lined.scss */
  .lined span::before,
  .lined span::after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #231f24;
    top: 0;
    width: 71.11111em; }
  /* line 23, _/css/module/_lined.scss */
  .lined span::before {
    right: 100%;
    margin-right: 15px; }
  /* line 27, _/css/module/_lined.scss */
  .lined span::after {
    left: 100%;
    margin-left: 15px; }

/* line 1, _/css/module/_text.scss */
.text {
  display: block;
  position: relative;
  clear: both;
  vertical-align: middle;
  text-align: left; }
  /* line 10, _/css/module/_text.scss */
  .text ul,
  .text ol {
    display: block;
    margin-left: 1.5em;
    margin-bottom: 1em; }
    /* line 16, _/css/module/_text.scss */
    .text ul li,
    .text ol li {
      display: block; }
  /* line 20, _/css/module/_text.scss */
  .text ul li {
    list-style: circle; }
  /* line 21, _/css/module/_text.scss */
  .text ol li {
    list-style: decimal; }
  @media screen and (min-width: 1280px) {
    /* line 1, _/css/module/_text.scss */
    .text {
      font-size: 1.2em;
      line-height: 1.5em; } }

@media screen and (min-width: 55em) {
  /* line 31, _/css/module/_text.scss */
  .text-left h2,
  .text-left p {
    text-align: right !important; }

  /* line 38, _/css/module/_text.scss */
  .text-right h2,
  .text-right p {
    text-align: left; } }
/* line 1, _/css/module/_text-slide.scss */
.text-slide {
  z-index: 99;
  width: 90%;
  margin: 0 5%; }
  /* line 6, _/css/module/_text-slide.scss */
  .text-slide h2 {
    margin-bottom: 0; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_text-slide.scss */
    .text-slide {
      width: auto;
      margin: auto;
      text-align: center; } }

/* line 1, _/css/module/_logo.scss */
.logo {
  display: inline;
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 0;
  padding: 1.35em 0;
  font-family: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  text-align: left;
  color: #231f24; }
  @media screen and (min-width: 29em) {
    /* line 1, _/css/module/_logo.scss */
    .logo {
      margin: 0 0 0 0.625em;
      padding: 0.4em 0;
      font-size: 1.6em;
      line-height: 1em; } }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_logo.scss */
    .logo {
      float: none;
      width: 100%;
      display: inline-block;
      margin: 0 0 0.5em;
      vertical-align: middle;
      padding: 0.38em 0 0.3em;
      font-size: 4em;
      line-height: 1em;
      text-align: center;
      line-height: 0.1em;
      text-align: center; }
      /* line 38, _/css/module/_logo.scss */
      .logo span {
        display: inline-block;
        position: relative; }
      /* line 43, _/css/module/_logo.scss */
      .logo span:before,
      .logo span:after {
        content: "";
        position: absolute;
        height: 1px;
        border-bottom: 1px solid #231f24;
        top: 0;
        width: 71.11111em; }
      /* line 51, _/css/module/_logo.scss */
      .logo span:before {
        right: 100%;
        margin-right: 15px; }
      /* line 55, _/css/module/_logo.scss */
      .logo span:after {
        left: 100%;
        margin-left: 15px; } }
  @media screen and (min-width: 1280px) {
    /* line 1, _/css/module/_logo.scss */
    .logo {
      overflow: hidden;
      padding: 0.38em 0 0.3em; } }

/* line 1, _/css/module/_nav.scss */
.nav {
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase; }
  /* line 8, _/css/module/_nav.scss */
  .nav li {
    display: inline;
    display: inline-block;
    overflow: hidden;
    list-style: none; }
  /* line 16, _/css/module/_nav.scss */
  .nav a {
    display: block;
    padding: 0.333em;
    color: #231f24; }
  /* line 28, _/css/module/_nav.scss */
  .nav .current-menu-item a,
  .nav .current_page_parent a,
  .nav .current-page-ancestor a,
  .nav a:hover,
  .nav a.is-active {
    color: #cccccc;
    text-decoration: none; }

/* line 2, _/css/module/_nav-main.scss */
.container-nav.is-stuck {
  background: rgba(249, 249, 249, 0.9);
  -webkit-box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0;
  -moz-box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0;
  -o-box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0;
  box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0; }

/* line 8, _/css/module/_nav-main.scss */
.nav-main {
  text-align: center; }

/* line 12, _/css/module/_nav-main.scss */
.is-stuck .nav-main {
  padding: 0.5em; }

/* line 1, _/css/module/_nav-right.scss */
.nav-right {
  width: 100%; }

@media screen and (min-width: 55em) {
  /* line 7, _/css/module/_nav-right.scss */
  .nav-right {
    position: absolute;
    width: auto;
    top: 0;
    right: 0; }

  /* line 14, _/css/module/_nav-right.scss */
  .is-stuck .nav-right {
    padding: 0.5em; } }
/* line 1, _/css/module/_nav-mobile.scss */
.nav-mobile {
  display: none;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  margin-bottom: 2em;
  font-family: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center; }
  /* line 15, _/css/module/_nav-mobile.scss */
  .nav-mobile li {
    display: block; }
    /* line 17, _/css/module/_nav-mobile.scss */
    .nav-mobile li a {
      display: block;
      padding: 0.5em;
      color: #666666;
      text-decoration: none;
      text-transform: uppercase; }
      /* line 27, _/css/module/_nav-mobile.scss */
      .nav-mobile li a:hover, .nav-mobile li a:focus {
        color: #231f24; }
      /* line 32, _/css/module/_nav-mobile.scss */
      .nav-mobile li a:active {
        color: #020202; }
    /* line 38, _/css/module/_nav-mobile.scss */
    .nav-mobile li li {
      display: none; }
    /* line 42, _/css/module/_nav-mobile.scss */
    .nav-mobile li.current-menu-item li, .nav-mobile li.current_page_parent li {
      display: block; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_nav-mobile.scss */
    .nav-mobile {
      display: none; } }

/* line 1, _/css/module/_container-nav.scss */
.container-nav {
  position: relative;
  display: none;
  top: 0;
  width: 100%;
  z-index: 10000; }
  /* line 9, _/css/module/_container-nav.scss */
  .container-nav.is-stuck {
    margin-top: 0;
    background: rgba(249, 249, 249, 0.9);
    -webkit-box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0;
    -moz-box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0;
    -o-box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0;
    box-shadow: rgba(35, 31, 36, 0.1666) 0 0.1666em 0; }
  @media screen and (min-width: 768px) {
    /* line 1, _/css/module/_container-nav.scss */
    .container-nav {
      display: block; } }

/* line 22, _/css/module/_container-nav.scss */
.logged-in .l-sticky_wrapper,
.logged-in .container-nav {
  margin-top: 28px !important; }

/* line 1, _/css/module/_buttons.scss */
.buttons {
  margin: 0;
  padding: 0; }

/* line 3, _/css/module/_button.scss */
.button,
input[type="submit"],
button {
  display: inline;
  display: inline-block;
  position: relative;
  margin-bottom: 2em;
  background-color: transparent;
  padding: 0.666em 1em;
  border: 1px #231f24 solid;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  font-family: "lovelo_black", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  color: #666666; }
  /* line 26, _/css/module/_button.scss */
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus {
    cursor: pointer;
    color: #231f24; }
  /* line 32, _/css/module/_button.scss */
  .button:active,
  input[type="submit"]:active,
  button:active {
    color: #231f24;
    -webkit-transition-duration: 0.05s;
    -moz-transition-duration: 0.05s;
    -o-transition-duration: 0.05s;
    transition-duration: 0.05s; }

/* line 3, _/css/module/_button-callout.scss */
.button-callout,
a.button-callout,
a.button-callout:visited {
  background-color: #888888; }

/* line 1, _/css/module/_button-top.scss */
.button-top {
  position: absolute;
  right: 0.5em;
  background: #888888;
  padding: 0.333em;
  font-size: 0.8em;
  line-height: 1em; }

/* line 1, _/css/module/_button-toggle.scss */
.button-toggle {
  float: right;
  margin: 0;
  border: none;
  background: transparent; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_button-toggle.scss */
    .button-toggle {
      display: none; } }

/* line 2, _/css/module/_button-facebook.scss */
.button-facebook:hover {
  background-color: #3b5998; }
/* line 6, _/css/module/_button-facebook.scss */
.button-facebook:active, .button-facebook:focus {
  background-color: #344e86;
  -webkit-box-shadow: 0 0 15px #23355b inset;
  -moz-box-shadow: 0 0 15px #23355b inset;
  -o-box-shadow: 0 0 15px #23355b inset;
  box-shadow: 0 0 15px #23355b inset; }

/* line 2, _/css/module/_button-twitter.scss */
.button-twitter:hover {
  background-color: #00aced; }
/* line 6, _/css/module/_button-twitter.scss */
.button-twitter:active, .button-twitter:focus {
  background-color: #0099d3;
  border: 1px #003143 solid;
  -webkit-box-shadow: 0 2px 5px #004f6e inset;
  -moz-box-shadow: 0 2px 5px #004f6e inset;
  -o-box-shadow: 0 2px 5px #004f6e inset;
  box-shadow: 0 2px 5px #004f6e inset; }

/* line 2, _/css/module/_button-googleplus.scss */
.button-googleplus:hover {
  background-color: #dd4b39; }
/* line 6, _/css/module/_button-googleplus.scss */
.button-googleplus:active, .button-googleplus:focus {
  background-color: #d73925;
  border: 1px #5c1810 solid;
  -webkit-box-shadow: 0 2px 5px #802216 inset;
  -moz-box-shadow: 0 2px 5px #802216 inset;
  -o-box-shadow: 0 2px 5px #802216 inset;
  box-shadow: 0 2px 5px #802216 inset; }

/* line 2, _/css/module/_button-linkedin.scss */
.button-linkedin:hover {
  background-color: #007bb6; }
/* line 6, _/css/module/_button-linkedin.scss */
.button-linkedin:active, .button-linkedin:focus {
  background-color: #006a9d;
  border: 1px #00080c solid;
  -webkit-box-shadow: 0 2px 5px #002537 inset;
  -moz-box-shadow: 0 2px 5px #002537 inset;
  -o-box-shadow: 0 2px 5px #002537 inset;
  box-shadow: 0 2px 5px #002537 inset; }

/* line 1, _/css/module/_header.scss */
.header {
  width: 100%;
  position: relative;
  overflow: visible;
  text-align: left; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_header.scss */
    .header {
      padding: 2em 0 2em;
      text-align: center; } }

/* line 1, _/css/module/_header-main.scss */
.header-main {
  background: #f9f9f9; }

/* line 1, _/css/module/_header-block.scss */
.header-block {
  margin-bottom: 4em;
  padding: 0; }
  @media screen and (min-width: 768px) {
    /* line 1, _/css/module/_header-block.scss */
    .header-block {
      float: left;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; } }

/* line 1, _/css/module/_block.scss */
.block {
  display: block;
  position: relative;
  overflow: hidden;
  clear: both;
  padding: 4em 0; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, _/css/module/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

/* line 21, _/css/module/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
/* FlexSlider Necessary Styles
*********************************/
/* line 39, _/css/module/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0; }

/* line 40, _/css/module/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 41, _/css/module/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block; }

/* line 42, _/css/module/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
/* line 45, _/css/module/_flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 46, _/css/module/_flexslider.scss */
html[xmlns] .slides {
  display: block; }

/* line 47, _/css/module/_flexslider.scss */
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 52, _/css/module/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
/* line 56, _/css/module/_flexslider.scss */
.flexslider {
  position: relative;
  zoom: 1;
  background: transparent;
  border: none; }

/* line 64, _/css/module/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

/* line 65, _/css/module/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px; }

/* line 66, _/css/module/_flexslider.scss */
.flexslider .slides {
  zoom: 1; }

/* line 67, _/css/module/_flexslider.scss */
.carousel li {
  margin-right: 5px; }

/* Direction Nav */
/* line 70, _/css/module/_flexslider.scss */
.flex-direction-nav {
  *height: 0; }

/* line 71, _/css/module/_flexslider.scss */
.flex-direction-nav a {
  display: none;
  position: absolute;
  width: 3.6em;
  height: 3.6em;
  margin: -1.8em 0 0;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: white;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  @media screen and (min-width: 55em) {
    /* line 71, _/css/module/_flexslider.scss */
    .flex-direction-nav a {
      display: block; } }

/* line 94, _/css/module/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px; }

/* line 95, _/css/module/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

/* line 96, _/css/module/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

/* line 97, _/css/module/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

/* line 98, _/css/module/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

/* line 99, _/css/module/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

/* line 104, _/css/module/_flexslider.scss */
.flex-direction-nav a:before {
  display: inline-block;
  content: '\25C5';
  font-family: "SSStandard", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6em;
  line-height: 2.4em; }

/* line 111, _/css/module/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\25BB'; }

/* Pause/Play */
/* line 114, _/css/module/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

/* line 115, _/css/module/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "SSStandard", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  display: inline-block;
  content: '\25B6'; }

/* line 116, _/css/module/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1; }

/* line 117, _/css/module/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\E8A0'; }

/* Control Nav */
/* line 120, _/css/module/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: 99;
  bottom: 2em;
  text-align: center; }
  @media screen and (min-width: 29em) {
    /* line 120, _/css/module/_flexslider.scss */
    .flex-control-nav {
      bottom: 4em; } }

/* line 133, _/css/module/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* line 134, _/css/module/_flexslider.scss */
.flex-control-paging li a {
  width: 1em;
  height: 1em;
  display: block;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 0.5em rgba(35, 31, 36, 0.5);
  -moz-box-shadow: 0 1px 0.5em rgba(35, 31, 36, 0.5);
  -o-box-shadow: 0 1px 0.5em rgba(35, 31, 36, 0.5);
  box-shadow: 0 1px 0.5em rgba(35, 31, 36, 0.5);
  cursor: pointer;
  text-indent: -9999px; }

/* line 152, _/css/module/_flexslider.scss */
.flex-control-paging li a:hover {
  background: white;
  background: rgba(255, 255, 255, 0.7); }

/* line 153, _/css/module/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: white;
  background: rgba(255, 255, 255, 0.9);
  cursor: default; }

/* line 155, _/css/module/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

/* line 156, _/css/module/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

/* line 157, _/css/module/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

/* line 158, _/css/module/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1; }

/* line 159, _/css/module/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  /* line 162, _/css/module/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  /* line 163, _/css/module/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
/* line 1, _/css/module/_slides.scss */
.slides {
  position: relative;
  margin: 0 auto; }

/* line 1, _/css/module/_slide.scss */
.slide {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  color: white; }
  /* line 13, _/css/module/_slide.scss */
  .slide .l-half,
  .slide .image
  p.description {
    margin-bottom: 0; }

/* line 6, _/css/module/_features.scss */
.features .lined span:before,
.features .lined span:after {
  border-color: #231f24; }

/* line 1, _/css/module/_feature.scss */
.feature {
  position: relative; }
  /* line 5, _/css/module/_feature.scss */
  .feature .text {
    text-align: left; }
  /* line 9, _/css/module/_feature.scss */
  .feature a {
    text-decoration: none; }
  /* line 17, _/css/module/_feature.scss */
  .feature.l-fullwidth, .feature.l-fullwidth .text {
    text-align: center; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_feature.scss */
    .feature {
      margin-bottom: 4em; }
      /* line 24, _/css/module/_feature.scss */
      .feature:last-child {
        margin-bottom: 0; }
      /* line 28, _/css/module/_feature.scss */
      .feature .text {
        font-size: 1.2em;
        line-height: 1.5em; }
      /* line 32, _/css/module/_feature.scss */
      .feature .container-button {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        vertical-align: bottom; } }

/* line 1, _/css/module/_contact.scss */
.contact {
  background: #333333; }

/* line 1, _/css/module/_social.scss */
.social {
  display: block;
  width: 100%;
  clear: both;
  background: #333333;
  text-align: center; }

/* line 1, _/css/module/_footer.scss */
.footer {
  display: block;
  width: 100%;
  padding: 2em 0 4em;
  background: #333333;
  text-align: center; }
  /* line 11, _/css/module/_footer.scss */
  .footer a,
  .footer a:hover {
    color: white; }

/* line 1, _/css/module/_footer-mobile.scss */
.footer-mobile {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #f6f4f6;
  padding: 0.25em;
  -webkit-box-shadow: 0px 0px 15px rgba(35, 31, 36, 0.333);
  -moz-box-shadow: 0px 0px 15px rgba(35, 31, 36, 0.333);
  -o-box-shadow: 0px 0px 15px rgba(35, 31, 36, 0.333);
  box-shadow: 0px 0px 15px rgba(35, 31, 36, 0.333);
  font-size: 1em;
  line-height: 1em;
  color: #f9f9f9;
  text-align: center; }
  /* line 17, _/css/module/_footer-mobile.scss */
  .footer-mobile .phone {
    display: inline;
    display: inline-block;
    margin: 0.2em auto;
    color: #f9f9f9;
    font-weight: 600; }
    /* line 24, _/css/module/_footer-mobile.scss */
    .footer-mobile .phone:hover {
      color: #f9f9f9; }
  @media screen and (min-width: 55em) {
    /* line 1, _/css/module/_footer-mobile.scss */
    .footer-mobile {
      display: none; } }

/* STATE */
/* line 1, _/css/state/_is-hidden.scss */
.is-hidden {
  display: none !important; }

@media screen and (max-width: 768px) {
  /* line 1, _/css/state/_is-visible.scss */
  .is-visible {
    display: block !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; } }

/* line 1, _/css/state/_is-stuck.scss */
.is-stuck {
  position: fixed; }
